<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Losowanie</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="static/icon.png">
</head>
<body>
<div class="info-container">
    <div class="players-count">
        Liczba zawodników: <span id="presentCount">0</span>
    </div>
    <div class="next-match">
        Najbliższy meczyk: <span id="nextMatchDate"></span>
    </div>
</div>

<table id="playersTable">
    <tr>
        <th class="narrow-column">Zawodnik</th>
        <th class="narrow-column">Obecny</th>
        <th class="narrow-column">Nieobecny</th>
        <th>Info</th>
    </tr>
    {% for player in players %}
    <tr class="player-row" id="row-{{ player.name }}">
        <td>{{ player.name }}</td>
        <td style="text-align: center; vertical-align: middle;"><input type="checkbox" class="present-checkbox"
                                                                       data-name="{{ player.name }}" {% if
                                                                       player.is_present %}
                                                                       checked {% endif %}></td>
        <td style="text-align: center; vertical-align: middle;"><input type="checkbox" class="break-checkbox"
                                                                       data-name="{{ player.name }}" {% if
                                                                       player.on_break %} checked
                                                                       {% endif %}></td>
        <td><input type="text" class="info-input" data-name="{{ player.name }}" value="{{ player.info }}"></td>
    </tr>
    {% endfor %}
</table>


<br>
{% if show_draw_button %}
<button class="button-19" id="drawTeams">LOSUJ</button>
<button class="button-19" id="clearSelection">WYCZYŚĆ</button>
{% endif %}
<script>
    $(document).ready(function() {
        updatePlayerRowStyles();
        updatePresentCount()
        $('#nextMatchDate').text(getNextMatchDate());
        $('.present-checkbox').change(function() {
            updatePlayerRowStyles();
            var playerName = $(this).data('name');
            var isPresent = $(this).is(':checked');
            var row = $('#row-' + playerName);
            var breakCheckbox = row.find('.break-checkbox');

            updatePlayerStatus(playerName, isPresent, breakCheckbox.is(':checked'));
            breakCheckbox.prop('disabled', isPresent);
            if (isPresent) {
                row.addClass('player-present').removeClass('player-on-break');
                breakCheckbox.prop('checked', false);
            } else {
                row.removeClass('player-present');
            }
            updatePresentCount();  // Aktualizacja licznika
        });

        $('.break-checkbox').change(function() {
            var playerName = $(this).data('name');
            var onBreak = $(this).is(':checked');
            var row = $('#row-' + playerName);
            var presentCheckbox = row.find('.present-checkbox');

            updatePlayerStatus(playerName, false, onBreak);
            presentCheckbox.prop('checked', false).prop('disabled', onBreak);
            if (onBreak) {
                row.addClass('player-on-break').removeClass('player-present');
            } else {
                row.removeClass('player-on-break');
            }
            updatePresentCount();  // Aktualizacja licznika
        });

        $('#drawTeams').click(function() {
$.get('/losuj', function(data) {
    window.location.href = '/losuj'; // Przekierowanie do strony z wynikami losowania
});
});


$('.info-input').change(function() {
var playerName = $(this).data('name');
var infoValue = $(this).val();
console.log("Wysyłanie danych:", playerName, infoValue);  // Dodaj tę linię
var presentCheckbox = $('#row-' + playerName + ' .present-checkbox').is(':checked');
var breakCheckbox = $('#row-' + playerName + ' .break-checkbox').is(':checked');

$.ajax({
    url: '/update_status',
    method: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({
        name: playerName,
        is_present: presentCheckbox,
        on_break: breakCheckbox,
        info: infoValue
    }),
    success: function(response) {
        console.log('Informacje zaktualizowane');
    }
});
});


        $('#clearSelection').click(function() {
$('.present-checkbox, .break-checkbox').prop('checked', false);
$('.present-checkbox, .break-checkbox').prop('disabled', false);
updatePlayerRowStyles();

// Wysyłanie żądania do serwera Flask, aby zaktualizować plik JSON
$.ajax({
    url: '/clear_selection',
    method: 'POST',
    success: function(response) {
        console.log('Checkboxy zostały wyczyszczone');
    },
    error: function() {
        console.log('Wystąpił błąd przy czyszczeniu checkboxów');
    }
});
});


        function updatePlayerRowStyles() {
        $('.player-row').each(function() {
            var presentCheckbox = $(this).find('.present-checkbox');
            var breakCheckbox = $(this).find('.break-checkbox');

            if (presentCheckbox.is(':checked')) {
                $(this).addClass('player-present').removeClass('player-on-break');
            } else if (breakCheckbox.is(':checked')) {
                $(this).addClass('player-on-break').removeClass('player-present');
            } else {
                $(this).removeClass('player-present player-on-break');
            }
        });
    }


        function updatePresentCount() {
var count = $('.present-checkbox:checked').length;
$('#presentCount').text(count);
updatePlayerCountStyle(count)
}

        function updatePlayerStatus(name, isPresent, onBreak) {
            $.ajax({
                url: '/update_status',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    name: name,
                    is_present: isPresent,
                    on_break: onBreak
                }),
                success: function(response) {
                    // Możesz dodać tutaj logikę obsługi odpowiedzi
                }
            });
        }
    });


    function getNextMatchDate() {
    var today = new Date();
    var nextMatch = new Date();
    nextMatch.setHours(20, 0, 0, 0); // Ustawienie godziny na 20:00

    // Ustalanie najbliższego dnia meczu (wtorek=2, czwartek=4)
    if (today.getDay() <= 2) {
        nextMatch.setDate(today.getDate() + (2 - today.getDay()));
    } else if (today.getDay() <= 4) {
        nextMatch.setDate(today.getDate() + (4 - today.getDay()));
    } else {
        nextMatch.setDate(today.getDate() + (9 - today.getDay())); // Następny wtorek
    }

    // Formatowanie daty
    var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
    return nextMatch.toLocaleString('pl-PL', options).replace(/\.|\/|\s/g, function(match) {
        return match === ' ' ? ' ' : '.';
    });
}

    function updatePlayerCountStyle(playerCount) {
    var countElement = document.getElementById('presentCount');
    countElement.textContent = playerCount;

    // Resetowanie stylów
    countElement.style.backgroundColor = '';

    // Stosowanie odpowiednich stylów w zależności od liczby zawodników
    if (playerCount < 10) {
        countElement.style.backgroundColor = 'pink'; // Różowy
    } else if (playerCount == 11) {
        countElement.style.backgroundColor = 'yellow'; // Żółty
    } else if (playerCount == 12 || playerCount == 10) {
        countElement.style.backgroundColor = 'lightgreen'; // Zielony
    } else if (playerCount == 13) {
        countElement.style.backgroundColor = 'yellow'; // Żółty
    } else if (playerCount == 14) {
        countElement.style.backgroundColor = 'lightblue'; // Zielony
    } else if (playerCount > 14) {
        countElement.style.backgroundColor = 'red'; // Czerwony
    }
}

</script>
</body>
</html>
