<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wylosowane Drużyny</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<div class="container">
    <div class="column team-a">
        <h1>Drużyna A ({{ sum_a }})</h1>
        <ul>
            {% for player in team_a %}
            <li>{{ player['name'] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column team-b">
        <h1>Drużyna B ({{ sum_b }})</h1>
        <ul>
            {% for player in team_b %}
            <li>{{ player['name'] }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="przyciski">

    <button class="button-19" id="redrawTeams">Losuj ponownie</button>
    <br><br>
    <button class="button-19" onclick="location.href='/'">Powrót do Strony Głównej</button>

</div>
<script>
    document.getElementById('redrawTeams').addEventListener('click', function() {
<!--    console.log("Przycisk Losuj został kliknięty.");-->
        window.location.href = '/losuj';
    });
</script>
</body>
</html>
